{#
/*
 * Oasys Digital Signage
 * 
 * 
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Delete this RSS?" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Yes" %}, $("#dataSetColumnRssForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="dataSetColumnRssForm" class="XiboForm form-horizontal" method="delete" action="{{ urlFor("dataSet.rss.delete", {id: dataSet.dataSetId, rssId: feed.id}) }}">
                {% set message %}{% trans "Are you sure you want to delete?" %}{% endset %}
                {{ forms.message(message) }}
            </form>
        </div>
    </div>
{% endblock %}