<h2>License <small>Digital Signage for Everyone</small></h2>
<p>Oasys Digital Signage - <a target="_blank"  href="https://www.oasys.co" title="Oasys Website">www.xibo.org.uk</a>. Version {{ version }}.</p>


<p>Oasys is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.</p>



<h2>Source Code</h2>
<p>As an end user of the Oasys software you are entitled to download and view the source code. You may do
    so from <a target="_blank"  id="source-link" href="{{ sourceUrl }}">GitHub</a>.
    As a service provider you <strong>MUST</strong> provide your end users notification of and access to the source code.</p>

<h2>Third Party Licenses</h2>
<p>Oasys uses some third party libraries and tools - these are provided with the software under licences compatible with the AGPLv3. All licences for
    third party libraries are included with that library and attributed in the code.</p>

<p>Emoji artwork is provided by <a href="https://www.emojione.com/">EmojiOne</a> and is licensed
    under <a href="https://creativecommons.org/licenses/by/4.0/legalcode">CC-BY 4.0</a>.</p>

<h3>Fonts</h3>

<p>
<ul>
    <li><strong>Aileron Regular (CC-0)</strong>: <a href="https://fontlibrary.org/en/font/aileron#Aileron-Regular">https://fontlibrary.org/en/font/aileron#Aileron-Regular</a>.</li>
    <li><strong>Aileron Heavy (CC-0)</strong>: <a href="https://fontlibrary.org/en/font/aileron#Aileron-Heavy">https://fontlibrary.org/en/font/aileron#Aileron-Heavy</a>.</li>
    <li><strong>Dancing Script Regular (OFL)</strong>: <a href="https://fontlibrary.org/en/font/dancing">https://fontlibrary.org/en/font/dancing</a>.</li>
    <li><strong>Linear Regular (OFL)</strong>: <a href="https://fontlibrary.org/en/font/linear-regular#Linear-Regular">https://fontlibrary.org/en/font/linear-regular#Linear-Regular</a>.</li>
    <li><strong>Railway Regular (OFL)</strong>: <a href="https://fontlibrary.org/en/font/railway-sans#Railway-Regular">https://fontlibrary.org/en/font/railway-sans#Railway-Regular</a>.</li>
</ul>
</p>


